/* src/HeaderLoggedIn.css */

/* Style the header element */
header {
  background-color: #fff;
  color: #333;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Style the header-nav element (contains navigation and user account) */
.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Spread items horizontally */
  align-items: center; /* Vertically center items */
}

/* Style the navigation menu */
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu li {
  margin-right: 20px;
  display: inline; /* Display list items side by side */
}

.menu li a {
  text-decoration: none;
  color: rgb(22, 23, 23);
  font-weight: bold;
  transition: color 0.3s ease;
}

.menu li a:hover {
  color: #000000;
}

/* Style the user account section */
.user-account {
  display: flex;
  align-items: center;
}

.user-account span {
  margin-right: 10px;
}

.user-account button {
  background-color: #ffcc00;
  color: #333;
  border: none;
  padding: 5px 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.user-account button:hover {
  background-color: #f8d23c;
}

li.first {
  margin-left: 20px;
  display: inline; /* Display list items side by side */
}

button.last {
  margin-right: 20px;
  display: inline; /* Display list items side by side */
}
